<section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="1000">
          <img src="../../assets/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-duration="1000">
          <h3>GameHub: Empowering Game Developers</h3>
          <p class="fst-italic">
            GameHub is a leading entity providing software solutions for game development and a learning platform for aspiring game developers.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Comprehensive tools for game development.</li>
            <li><i class="bi bi-check-circle"></i> Cutting-edge technology to fuel creativity.</li>
            <li><i class="bi bi-check-circle"></i> A dedicated learning platform for aspiring game developers.</li>
          </ul>

          <a href="#" class="btn btn-primary read-more" data-bs-toggle="modal" data-bs-target="#myModal">Read More <i class="bi bi-long-arrow-right"></i></a>

          <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Abrir Modal</a>

<!-- Ventana modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Título de la Ventana Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Contenido de la ventana modal...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>


        </div>
      </div>
    </div>
</section>
